logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
**/lib_managed/
lib_managed/
.cache
.DS_Store
**/*.DS_Store
projectFilesBackup